<div class="row panel">
<div class="small-6 large-2 columns">
  <h1>Reader</h1>
</div>
<div class="small-6 large-8 columns">
<img src="http://cdn1.cdnme.se/cdn/7-2/282700/images/2008/engla_troll_1207574244_5911111.gif"/ height="60" width="75">
</div>

</div>


<div ng-controller="SubsCtrl">

<form>
  <div class="small-9 columns">
      <form>
      <input type="text" ng-model="urlToAdd" name="text" />
       <a href="#" class="button prefix" ng-click="submit()">Action</a>
      
    </form>
  </div>
</form>

<div class="row">
  <div class="small-3 columns">
    <ul class="side-nav">
      <li ng-repeat="sub in subs">
        <a ng-click="loadData(sub.id)">{{sub.title}}</a>
      </li>
    </ul>
  </div>

      <!-- <button ng-click="hidden=true">I don't want it</button>
        <button ng-click="hidden=false">I want it</button> -->

  <div class="small-9 columns">
    <div ng-repeat="entr in subitems">
      <span data-ng-class="getClass(entr)" ng-click="setArticleRead(entr)">
        {{entr.title}}  
      </span>
      
     <div ng-show="entr.hidden == true" ng-animate="'fade'">         
      <span class="preview-text">  {{entr.preview}}  </span> 
    </div>


    </div>
  </div>

    <img ng-show="showMe" src="http://www.devcomponents.com/dotnetbar/img/CircularProgressAnimation.gif">
</div>





  



 </div>


