

<div ng-controller="SubsCtrl">

<!-- Search --> 
  <div class="row">
    <form>
    <div class="small-4 columns">
        <div class="row collapse">
          <div class="small-8 columns">
            <input type="text" ng-model="urlToAdd" name="text" />
          </div>

          <div class="small-4 columns end">
            <a href="#" class="columns button postfix" ng-click="submit()">Add</a>
          </div>
          </div>
      </div>
    </form>
  </div>


<div class="row">
  <div class="large-3 columns">
    <ul class="side-nav">
      <li ng-repeat="sub in subs">
        <a ng-click="loadData(sub.id)">{{sub.title}}</a>
      </li>
    </ul>
  </div>


  <div class="large-9 columns">
    <div ng-repeat="entr in subitems">
      <span data-ng-class="getClass(entr)" ng-click="setArticleRead(entr)">
        {{entr.title}}  
      </span>
      
     <div ng-show="entr.hidden == true" ng-animate="'fade'">         
      <span class="panel radius preview-text">  {{entr.preview}}  </span> 
    </div>


    </div>
  </div>

    <img ng-show="showMe" src="http://www.devcomponents.com/dotnetbar/img/CircularProgressAnimation.gif">
</div>

<div class="usersArea" ng-controller="UsersCtrl">

<div id="users_modal" class="reveal-modal" data-reveal>
 <!-- Users -->

  <ul class="large-block-grid-4">
    <li ng-repeat="user in users">
      <a class="th [radius]" href="#" >
        <img data-dropdown="hover1" data-options="align:left" src="/assets/{{user.pic}}" ng-click="setSelectedUser(user)" >
      </a>
      <p class="user-title">{{user.username}}</p>
      <ul id="hover1" class="f-dropdown" data-dropdown-content>
          <li><a ng-click="openModel()" data-reveal-id="messages_modal">Send message</a></li>
          <li><a href="#" ng-click="addFriend()">Add Friend</a></li>
      </ul> 
    </li>
  </ul>

  <a class="close-reveal-modal">&#215;</a>

</div>


<!-- Messages -->

<div id="messages_modal" class="reveal-modal" data-reveal>
  <p>Send a message to {{selectedUser.username}}</p>
  <div class="large-12 columns">
     <a class="th [radius]" href="#" >
        <img data-dropdown="hover1" data-options="align:left" src="/assets/{{selectedUser.pic}}">
      </a> 
        <textarea id="textArea" ng-model="messageText" placeholder="Enter your text..."></textarea>
      </p>
    <a href="#" ng-click="closeForm()" class="button [tiny small large]">Send</a>
  </div>

  <a class="close-reveal-modal">&#215;</a>

</div>

    
  </div>






